body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
#main{
    color: white;
    font-family: 'Concert One', cursive;
    font-size: 20px;
}
#arr{
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    height: 200px;
}
#h{
    font-family: 'Lobster', cursive;
    padding-top: 15px;
}
#head{
    font-family: 'Karla', sans-serif;
    text-align: center;
    color: ghostwhite;
}
.box{
    width: 30%;
    /*text-align: center;*/
    /*margin-left: 30%;*/

}
.font{
    font-family: 'Concert One', cursive;
    width: 40%;
    font-size: 0;
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
}
#num{
    width: 1300px;
    background-color: rgba(0, 0, 0, 0.38);
    color: red;
}
.base span{
    text-decoration: line-through;
}